/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*STYLE*/
body {
	font: 14px/20px arial,sans-serif ;
	background-image: url(../../bg/bg4.png);
	color: lightslategray;
}
.kontainer {
	width: 800px;
	background-color: white;
	margin: auto;

}

.heeader {
	padding: 25px;
	padding-bottom: 12px;

}

.heeader .judul {
	font-size: 40px;
	font-weight: bold;
}

.heeader ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 26px;
}

.heeader a {
	color: salmon;
	text-decoration: none;
}

.heeader a:hover {
	background-color: lightblue;
	color: white;
	padding: 3px;
}

.heroo {
	height: 200px;
	background-image: url(../img/heroo.jpg);
	background-size: cover;
	background-position: 10px 0;
	border-top: 5px solid darkgrey;
	border-bottom: 5px solid salmon;
}

.isi {
	padding: 20px;
}

.isi h2 {
	font-size: 30px;
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 8px;
}

.isi .penulis {
	font-size: 10px;
	padding-bottom: 20px;
}

.isi .penulis a {
	color: salmon;
	text-decoration: none;
}

.isi .penulis a:hover {
	background-color: lightblue;
	color: white;
	padding: 3px;
}

.isi .pisi p{
	line-height: 18px;
	margin-bottom: 13px;
	word-spacing: 3px;
	font-size: 14px;
}

.footer {
	background-color: salmon;
	padding: 10px;
}

.footer .copyy {
	color: white;
	text-align: center;
}